<ion-header [translucent]="true">
  <ion-toolbar>
        <!-- CC de ION-BUTTONS DE FOLDER.PAGE.HTML en changeant le param START en END -->
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 2ème Header supprimé pour l'affichage iPhone -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
